body {
  background-color: #042647;
  color: #fafafa;
  font-family: "Spartan", sans-serif;
  margin: 20px;
}

footer {
  text-align: center;
}

::placeholder {
  color: #fdfdfd98;
}

#current-city {
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 8px;
}

#current-condition-icon {
  margin-top: 15px;
}

#current-date {
  font-size: 20px;
}

#github-link {
  color: #59a1eb;
}

#search-input {
  background: linear-gradient(60deg, #e35c91, #59a1eb);
  border: 1px solid #0a4377;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #010911, -2px -2px 6px #0f60a8;
  color: #fafafa;
  height: 39px;
  margin-right: 5px;
  width: 340px;
}

.buttons {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #010911, -2px -3px 4px #0a4377;
  height: 40px;
  margin: 0;
  padding: 0;
  width: 40px;
}

.currentCityElements {
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #010911, -2px -2px 10px #0f60a8;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;
}

.currentLocationSection {
  padding: 0;
  width: 40px;
}

.forecastConditionIcon {
  display: block;
  margin: 0 auto;
}

.forecastHeading {
  font-size: 20px;
  font-weight: 600;
  margin-top: 3px;
}

.forecastHeading,
.forecastWeather {
  text-align: center;
}

.forecastSection {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #010911, -3px -3px 5px #0a4377;
  margin: 0 12px;
  padding: 3px;
}

.forecastWeather {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 10px;
}

.humidityAndWind {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.searchBarElements {
  width: 493px;
}

.searchSection {
  padding-right: 0;
}

.temp {
  font-size: 70px;
  margin: 0;
}

.weatherContainer {
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #010911, -4px -4px 8px #0a4377;
  display: block;
  margin: 60px auto 20px auto;
  padding: 30px;
  width: 500px;
}
